html, body{
    margin: 0 5px 0 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: medium;
    margin: 0;
    padding: 8px;
    background-color: #3f31fd;
    color: white;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

button{
    display: block;
    margin: 10px;
}

